body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 72%, rgba(148, 187, 233, 1) 100%);

    header {
        h1 {
            margin: 1rem 0;
            padding: 1rem;
            font-size: 3rem;
            color: rgb(41, 48, 41);
            /*     background: rgb(238,174,202); */
            background: rgba(238, 174, 202, 1);
        }
    }
}



.container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .item1 {
        background: rgba(238, 174, 202, 1);
        padding: 1rem;
        display: grid;
        align-items: center;
        flex-direction: column;
        grid-template-columns: 50% 50%;
        grid-template-rows: min-content min-content;
        grid-template-areas:
            "titulo    titulo"
            "img3      img3"
            "img4      img4"
            "img5      img5"
            "footer    footer";
        width: 50%;
        margin: 2% auto;

        h3 {
            /*     color: #676767; */
            /*     background-color: bisque; */
            font-family: 'Roboto Mono', monospace;
            color: black;
            font-size: 100%;
            margin-bottom: 3rem;
            line-height: 1.5;
            text-align: center;
            display: inline-block;
            position: relative;
        }
    }
}


.container1 {
    .item1 {
        width: 80%;

        .img4 {
            width: 50%;
            display: flex;
            display: inline-block;
            /*     color: white; */
            font-weight: 600;
            padding: 4rem;
            transition: 1.5s;

            &:hover {
                background-color: rgb(128, 229, 224);
                padding: 2rem;
                transform: scale(1.1);
            }
        }
    }
}

.container1 {
    .item1 {
        width: 80%;

        .img5 {
            width: 70%;
            display: flex;
            display: inline-block;
            /*     color: white; */
            font-weight: 600;
            padding: 4rem;
            transition: 1.5s;
            /*                     justify-content: center; */

            &:hover {
                /*                         justify-content: center; */
                background-color: rgb(128, 229, 224);
                padding: 2rem;
                transform: scale(1.1);
            }
        }
    }
}