
/*------------RESPONSIVE----------------*/

/* Desktop*/
@media screen and (max-width: 1200px) {
    body {
        
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 72%, rgba(148, 187, 233, 1) 100%);
    }

    h1 {
        text-align: right;
    }
}

/*Tablet*/
@media screen and (max-width: 780px) {
    body {
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 72%, rgba(148, 187, 233, 1) 100%);
    }

    h1 {
        text-align: right;
    }
}

/*Mobile*/
@media screen and (max-width: 480px) {
    body {
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 72%, rgba(148, 187, 233, 1) 100%);
    }

    h1 {
        text-align: center;
    }
}